body {
  margin: 0;
}

#Navigation-Bar {
  display: flex;
  justify-content: space-between;
  border: 2px solid;
}

#Nav-Logo {
  margin-left: 50px;
  text-align: center;
}

#Company-Name {
  margin-top: 30px;
  line-height: 0;
}

#Nav-Links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-right: 20%;
}

#Rose-Banner {
  width: 100%;
}

#Mission-Container {
  border: 1px solid;
  margin-right: 200px;
  margin-left: 200px;
  padding: 25px;
  padding-right: 75px;
}

hr {
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 50px;
  border-top: 2px solid;
}

#Most-Popular-Text {
  margin-left: 200px;
}

#General-Product-Imgs {
  height: 300px;
}

#Top-Row-Products {
  margin-right: 200px;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
}

#Bottom-Row-Products {
  margin-right: 200px;
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
}

#Tree-Title {
  font-size: 15px;
}

#Tree-Description {
  font-size: 10px;
}


#Tree-Price {
  font-size: 10px;
}